<body class="text-center">
    <main class="form-signin">
      <form [formGroup] = "registerForm">
        <h1 class="h3 mb-3 fw-normal">Üye Ol</h1>
  
        <div class="form-floating">
            <input
              formControlName = "firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="Adı"
            />
            <label for="firstName">Adı</label>
          </div>

          <div class="form-floating">
            <input
              formControlName = "lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Soyadı"
            />
            <label for="lastName">Soyadı</label>
          </div>

        <div class="form-floating">
          <input
            formControlName = "email"
            type="email"
            class="form-control"
            id="email"
            placeholder="E-mail adresi"
          />
          <label for="email">E-posta</label>
        </div>
        <div class="form-floating">
          <input
            formControlName = "password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Parola"
          />
          <label for="password">Parola</label>
        </div>
  
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" (click) = "register()">
          Üye Ol
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
  
