<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="brand" class="form-label">Marka Seçiniz</label>
      <select class="form-select" id="brand">
        <option *ngFor="let brand of brands">{{ brand.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <button style="margin-top: 6.5%;" class="btn btn-primary">Filtrele</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="color" class="form-label">Renk Seçiniz</label>
      <select class="form-select" id="color">
        <option *ngFor="let color of colors">{{ color.name }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <button style="margin-top: 6.5%;" class="btn btn-primary">Filtrele</button>
    </div>
  </div>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Araba ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} aradınız
</div>

<div class="main">
  <div
    *ngFor="let car of cars | carFilter: filterText"
    class="card text-dark bg-light mb-2"
    style="width: 25%"
  >
    <div class="card-body">
      <h5 class="card-title">{{ car.carName }}</h5>
      <p class="card-text">{{ car.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Renk: {{ car.colorName }}</li>
      <li class="list-group-item">
        Model: {{ car.modelYear | date: "dd/MM/yyyy" }}
      </li>
      <li class="list-group-item">Günlük Fiyat: {{ car.dailyPrice }}</li>
    </ul>
    <div class="card-body" *ngIf="isDetail">
      <div class="d-grid gap-2 col-8 mx-auto">
        <button
          routerLink="/cars/car-detail/{{ car.carId }}"
          class="btn btn-outline-dark"
          type="button"
        >
          Detaya Git
        </button>
      </div>
    </div>
  </div>
</div>
