<ul class="list-group">
  <li routerLink="/cars" (click) = "setCurrentMenu(0)" [class] = "getCurrentMenuClass(0)">
    CARS
  </li>
  <li routerLink="/brands" (click) = "setCurrentMenu(1)" [class] = "getCurrentMenuClass(1)">
    BRANDS
  </li>
  <li routerLink = "/colors" (click) = "setCurrentMenu(2)" [class] = "getCurrentMenuClass(2)">
    COLORS
  </li>
  <li routerLink="/customers" (click) = "setCurrentMenu(3)" [class] = "getCurrentMenuClass(3)">
    CUSTOMER
  </li>
  <li routerLink="/rentals" (click) = "setCurrentMenu(4)" [class] = "getCurrentMenuClass(4)">
    RENTAL
  </li>
</ul>
