<ul class="list-group">
  <li class="list-group-item list-group-item-primary active">MENU</li>
  <li routerLink="/cars" class="list-group-item list-group-item-primary">CARS</li>
  <li routerLink="/brands" class="list-group-item list-group-item-primary">BRANDS</li>
  <li routerLink="/colors" class="list-group-item list-group-item-primary">COLORS</li>
  <li routerLink="/customers" class="list-group-item list-group-item-primary">CUSTOMER</li>
  <li routerLink="/rentals" class="list-group-item list-group-item-primary">RENTAL</li>
</ul>
